<main class="container mt-5 text-white">
  <h1 class="mb-4">Login</h1>
  <form class="login-form bg-dark p-4 rounded">
    <div class="mb-3">
      <label for="username-login" class="form-label text-white">Username</label>
      <input
        type="text"
        class="form-control bg-secondary text-white"
        id="username-login"
        placeholder="Username"
      />
    </div>
    <div class="mb-3">
      <label for="password-login" class="form-label text-white">Password</label>
      <input
        type="password"
        class="form-control bg-secondary text-white"
        id="password-login"
        placeholder="Password"
      />
    </div>
    <button type="submit" class="btn btn-outline-light">Log In</button>
  </form>
</main>
